<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="service" class="HelloWorld.MessageService"></bean>
    <bean id = "printer" class="HelloWorld.MessagePrinter">
        <property name="MS" ref="service"></property>
    </bean>

    <bean id = "hellobean" class="HelloShiyanlou.Helloworld">
        <property name="name" value="shiyanlou"></property>
    </bean>
</beans>